body {
  font-family: UB Scala Sans, sans-serif;
  margin: 20px;
}

#swtLogo {
  background-image: url("swtbahn-logo.png");
  background-repeat: no-repeat;
  background-size: auto 100px;
  line-height: 165px;
  color: #054479;
  height: 100px;
  width: 100%;
}

#userLogo {
  text-align: right;
  font-size: 45pt;
  font-weight: bold;
  color: #054479;
}

#upload {
  display: inline-block;
  background-color: #e1e1e1;
  color: #000;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
  font-size: smaller;
}
