.fontspan-speedbuttons {
	font-size: 3vw;
	color: white;
}

.train-id-item {
	min-width: 8vw;
	width: 14vw;
	max-width: 18vw;
	margin-right: 2%;
	text-wrap: wrap;
	word-break: break-all;
}

.train-property-item {
	min-width: 8vw;
	width: 11vw;
	max-width: 14vw;
}

.button_small {
	padding-top: 0.05rem;
	padding-bottom: 0.05rem;
}

.button_lift {
	margin-bottom: 0.15rem;
}

.short-val-container {
	display: inline-block;
	min-width: 2vw;
	width: 2vw;
}

.adminBtn {
	min-width: 8vw;
	width: 14vw;
	margin-right: 5%;
}

.nooffsetrow {
	--bs-gutter-x: 0px !important;
}

.trainhead {
	border-color: #034a7f !important;
	border-width: 4px !important;
}

.val-descriptor {
	font-size: smaller;
}