body {
  font-family: UB Scala Sans, sans-serif;
  margin: 20px;
}

#swtLogo {
  background-image: url("swtbahn-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100px;
  line-height: 100px;
  color: #054479;
  height: 100px;
  width: 100%;
}

#trainSelection{
  /* center elements vertically */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#trainDetails {
  font-size: 29pt;
  font-weight: bold;
  color: #054479;
  height: 100px;
}

#serverAlertBox {
  height: 70px;
}

#serverAlert {
  border-width: 3px;
  border-style: solid;
  border-color: white;
}

.alert-danger-blink {
  animation: blink 1s infinite;
}
@keyframes blink {
  50% {
    border-color: var(--danger);
  }
}


/* Dice */
.dice{
  display: block;
  border-radius: 5px;
  width: 2em;
  height: 2em;
  background-color: var(--background);
  border: var(--fillColor) 5px solid;

}

.dot{
  display: block;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: var(--fillColor)
}

.one-face{
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face, .third-face, .fourth-face, .fifth-face, .sixth-face{
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2){
  align-self: flex-end;
}

.third-face .dot:nth-of-type(3){
  align-self: flex-end;
}

.third-face .dot:nth-of-type(2), .fifth-face .column:nth-of-type(2){
  align-self: center;
}

.fourth-face .column, .fifth-face .column, .sixth-face .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


