body {
  font-family: UB Scala Sans, sans-serif;
  margin: 0 20px;
  font-size: calc(.75em + 1.25vw);
}

#bahn-logo {
  max-width: 35%;
  width: auto;
  max-height: inherit;
}

#endGameButton {
  font-size: inherit !important;
  margin-right: 5px;
  margin-left: auto;
}

#tipsLabel {
  font-size: inherit !important;
}

.fontSizeScale {
  font-size: calc(.75em + 1.15vw) !important;
}

.bahn-header {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  display: flex;
  align-items:center;
  justify-content: space-between;
  max-height: 10vh;
}

@media (max-width: 500px) {
  .wide-largerfont {
    font-size: normal !important;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .wide-largerfont {
    font-size: larger !important;
  }
}

@media (min-width: 700px) {
  .wide-largerfont {
    font-size: x-large !important;
  }
}

/* Train Selection page styling*/

#trainSelection {
  display: flex;
  /* flex direction is part of the screen orientation sensitive media queries */
  justify-content: center;
  align-items: center;
  height: 100%;
  
  margin-left: auto;
  margin-right: auto;
}

@media (orientation: landscape) {
  #trainSelection {
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
  }
  
  .trainCard {
    /* Optimized for iPad in landscape mode to fit all cards/trains */
    max-width: 21%;
    min-width: 15%;
  }
  
  .trainCard .card-body {
    /* Adjust bootstrap padding of card-body here, to fit more trains onto screen.
       Default padding is 1rem, this is a bit too much for an iPad to fit all trains 
       without scrolling.
    */
    padding: 0.75rem 0.75rem;
  }
}

@media (orientation: portrait) {
  #trainSelection {
    flex-direction: column;
    width: 80%;
  }
}

.unavailableTrain {
  opacity: 0.6;
  background-color: MistyRose;
}


/* For the Driving/Destination selection view */

@media (orientation: landscape) {
  #trainGrabbedComponentsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  #chosenTrainImgContainer {
    width: 48%;
    margin-right: -3%;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    overflow:hidden;
  }
  
  #chosenTrain {
    /*Crop the image on its left hand side to allow a taller right flexbox for controls*/
    position: relative;
    margin-left: -15%;
  }
  
  .controlContainer {
    width: 55%;
  }
  
  .currentDestination {
    /* SVG with flag of current destination needs to appear somewhat differently */
    max-width: 18% !important;
    margin-bottom: 0% !important;
  }
  
  .possibleDestinations {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  svg.flag {
    max-width: 12%;
    min-width: 8%;
    height: auto;
    margin-right: 3%;
    margin-bottom: 3%;
  }
}

@media (orientation: portrait) {
  #trainGrabbedComponentsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  #chosenTrainImgContainer {
    width: 100%;
  }
  
  svg.flag {
    width: 20%;
    height: auto;
    margin-right: 4%;
    margin-bottom: 4%;
  }
}


/* Hide the SVG template for the destination flags */
#svgDef {
  height: 0px;
  width: 0px;
}

#possibleDestinations svg.flag {
  cursor: pointer;
}


/* Other/General */

#serverAlertBox {
  min-height: 100px;
  margin-top: 1.25em;
}

#serverAlert {
  border-width: 3px;
  border-style: solid;
  border-color: white;
}

.alert-danger-blink {
  animation: blink 1s infinite;
}
@keyframes blink {
  50% {
    border-color: var(--danger);
  }
}

#serverModal .modal-content {
  color: black;
  background-color: white;
}

#serverModal .modal-danger {
  color: white;
  background-color: Crimson;
}

#serverModal .modal-success {
  color: white;
  background-color: ForestGreen;
}

#serverModal .modal-header {
  border-bottom: none;
}

#serverModal .modal-footer {
  border-top: none;
}

/* Colour themes for the destination flags */
.flagThemeBlack {
  --flag-theme: black;
}

.flagThemeGreen {
  --flag-theme: DarkGreen;
}

.flagThemeRed {
  --flag-theme: DarkRed;
}

.flagThemeBlue {
  --flag-theme: var(--bs-primary);
}

.flagThemeDisabled {
    opacity: 0.2;
}

.flagThemeBlank {
  --flag-fill: white;
  --flag-circle-fill: white;
  --flag-stroke: white;
  --flag-topLeft-fill: white;
  --flag-topRight-fill: white;
  --flag-centre-fill: white;
  --flag-bottomLeft-fill: white;
  --flag-bottomRight-fill: white;
}

/* Design themes for the destination flags */
.flagOutline {
  --flag-fill: white;
  --flag-circle-fill: var(--flag-theme);
  --flag-stroke: var(--flag-theme);
}

.flagFilled {
  --flag-fill: var(--flag-theme);
  --flag-circle-fill: white;
  --flag-stroke: var(--flag-theme);
}

/* Flag symbols */
.flagZero {
  --flag-topLeft-fill: var(--flag-fill);
  --flag-topRight-fill: var(--flag-fill);
  --flag-centre-fill: var(--flag-fill);
  --flag-bottomLeft-fill: var(--flag-fill);
  --flag-bottomRight-fill: var(--flag-fill);
}

.flagOne {
  --flag-topLeft-fill: var(--flag-fill);
  --flag-topRight-fill: var(--flag-fill);
  --flag-centre-fill: var(--flag-circle-fill);
  --flag-bottomLeft-fill: var(--flag-fill);
  --flag-bottomRight-fill: var(--flag-fill);
}

.flagTwo {
  --flag-topLeft-fill: var(--flag-circle-fill);
  --flag-topRight-fill: var(--flag-fill);
  --flag-centre-fill: var(--flag-fill);
  --flag-bottomLeft-fill: var(--flag-fill);
  --flag-bottomRight-fill: var(--flag-circle-fill);
}

.flagThree {
  --flag-topLeft-fill: var(--flag-circle-fill);
  --flag-topRight-fill: var(--flag-fill);
  --flag-centre-fill: var(--flag-circle-fill);
  --flag-bottomLeft-fill: var(--flag-fill);
  --flag-bottomRight-fill: var(--flag-circle-fill);
}

.flagFour {
  --flag-topLeft-fill: var(--flag-circle-fill);
  --flag-topRight-fill: var(--flag-circle-fill);
  --flag-centre-fill: var(--flag-fill);
  --flag-bottomLeft-fill: var(--flag-circle-fill);
  --flag-bottomRight-fill: var(--flag-circle-fill);
}

.flagFive {
  --flag-topLeft-fill: var(--flag-circle-fill);
  --flag-topRight-fill: var(--flag-circle-fill);
  --flag-centre-fill: var(--flag-circle-fill);
  --flag-bottomLeft-fill: var(--flag-circle-fill);
  --flag-bottomRight-fill: var(--flag-circle-fill);
}


